<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; background-color:
      #f0f0f0; background-image:
      url("https://rideshareng.com/images/swipe.png"); background-repeat:
      no-repeat; background-size: cover; } .container { width: 85%; margin:
      auto; overflow: hidden; } .content { margin-top: 40px; background: #fff;
      box-shadow: rgba(255, 248, 223, 0.2) 0px 8px 24px; padding: 50px;
      border-radius: 5px; } .footer { margin-top: 20px; text-align: center; }
      .footer small { color: rgba(0, 0, 0, 0.4); padding-bottom: 20px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='content'>
        <img
          src='https://rideshareng.com/images/B.png'
          alt='RideShare'
          title='RideShare'
        />

        <p style='margin-top: 40px'>
          Hello
          <b>{{name}}</b>
          ,
        </p>

        <p>We’re thrilled to have you on our waitlist and can’t wait to share
          what we’ve been working on.</p>

        <p>By joining the waitlist, you’re among the first to get exclusive
          updates and early access.</p>

        <p>Stay tuned for exciting news and launch details coming your way soon!</p>

        <p>If you have any questions or need assistance, feel free to reach out
          to us at any time.</p>

        <p style='margin-top: 30px'>Thank you for your interest and support!</p>

        <p style='margin-top: 40px'>
          Best regards,
          <br />
          {{platform}}
        </p>
      </div>
      <div class='footer'>
        <small>mailed securely with 💖 and ⚡ by {{platformMail}}</small>
      </div>
    </div>
  </body>
</html>